body {
    background-color: rgb(50, 30, 34);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

body > div {
    display: flex;
    height: 100%;
    align-items: center;
}

.doll_frame_div {
    position: relative;
    display: flex;
    justify-content: center ;
}

.doll_frame {
    height: 88vh;
    z-index: 2;
}

.doll_div {
    position: absolute;
    background-color: white;
    height: min-content;
    width: min-content;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 2em;
}

.doll {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 70vh;
}

.guide {
    height: 70vh;
}

.wardrobe_frame_div {
    margin-left: 2vw;
    position: relative;
}

.wardrobe_div {
    position: absolute;
    left: 1%;
    background-color: white;
    height: 70vh;
    width: 86vh;
    border-radius: 3em;
}

.wardrobe_frame {
    height: 88vh;
    z-index: 2;
}

.clothes_buttons {
    display: flex;
    background-color: rgb(173, 155, 159);
    height:8vh;
    margin-top: 2vh;
    align-items: end;
    justify-content: center;
    padding: 0;
}

button {
    z-index: 3;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding-bottom: 0;
    margin-left: 0.5vh;
}

.clothes_buttons > button > img {
    height: 6vh;
}

.selected_button {
    background-color: white; 
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}  